<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744895848346-niao9b9sno1g3q5vnu23sejoqsu09etl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744895848346-niao9b9sno1g3q5vnu23sejoqsu09etl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744895848346-5rejvdctm2ges5eh8hpb8qq2p4drce5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWn76S7BgZi9B14LrzvImbniQid0jxNLk</string>
	<key>GCM_SENDER_ID</key>
	<string>744895848346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rilisentertainment.stoptriviaonline</string>
	<key>PROJECT_ID</key>
	<string>stop-trivia-online</string>
	<key>STORAGE_BUCKET</key>
	<string>stop-trivia-online.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744895848346:ios:c0b37d22a841bd20e9a423</string>
	<key>DATABASE_URL</key>
	<string>https://stop-trivia-online-default-rtdb.firebaseio.com</string>
</dict>
</plist>